body {
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.img-same-size {
    width: 100%;
    height: auto;
  }

.card img {
    width: 300px;
    height: 330px;
    background-size: cover;
    background-position: center;
}

.product-description {
  min-height: 50px;
}

.product-card {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.product-image {
  width: 300px; 
  transition: transform 0.3s; 
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

.product-card:hover .product-description {
  display: block; 
}

