.zoom-effect {
    transition: transform 0.3s;
}

.zoom-effect:hover {
    transform: scale(1.1);
}
.card {
    max-width: 100px;
    margin: 0 auto;
}

.phone-card.enlarged {
    transform: scale(1.1);
}

.phone-features {
    display: none;
    margin-top: 10px;
}

.phone-card.enlarged .phone-features {
    display: block;
}
